<li class="list-group-item">
  <div class="column">
    <div class="col">
      {{comment_text}}

    </div>
    <div class="col text-md-end">
      <p><small>Commented by
          {{user.name}}
          on
          {{format_date createdAt}}</small></p>
    </div>
  </div>
</li>