<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/output.css">
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body class="bg-gray-100">
  
<!-- Navigation -->
  <header class="bg-gray-800">
    <nav class="container mx-auto px-4 py-4 flex items-center justify-between">
      <div>
        <a href="/" class="text-white text-lg font-bold">Tech Blog</a>
      </div>
      <div class="hidden md:flex space-x-4">
        {{#if logged_in}}
          <a href="/dashboard" class="text-white">Dashboard</a>
          <a href="/profile" class="text-white">Profile</a>
          <a href="/logout" class="text-white">Logout</a>
        {{else}}
          <a href="/login" class="text-white">Login</a>
          <a href="/signup" class="text-white">Sign Up</a>
        {{/if}}
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  {{{body}}}

  <script src="/js/app.js"></script>
</body>
</html>
