
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-4 mb-4">Dashboard</h2>
            <a href="/dashboard/newPost" class="btn btn-primary mb-4">New Post</a>
            {{#each posts as |post|}}
                {{> post}}

                <div class="has-text-right m-3">
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                </div>
            {{else}}
                <p>No posts available</p>
            {{/each}}
        </div>
    </div>
</div>
{{!-- <script src="/js/dashboard.js"></script> --}}
