
<div class="container">
    <div class="row">
      <div class="col-md-6 login-signup" id="left-section">
        <div id="login-section">
          <!-- Login form here -->
          <form id="login-form">
              <div class="form-group">
                <label for="login-email">Email address</label>
                <input type="email" class="form-control" id="login-email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          <button type="button" class="btn btn-secondary" id="show-signup">Sign Up</button>
        </div>
        <div id="signup-section" class="d-none">
          <!-- Signup form here -->
          <form id="signup-form">
              <div class="form-group">
                <label for="signup-name">Name</label>
                <input type="text" class="form-control" id="signup-name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="signup-email">Email address</label>
                <input type="email" class="form-control" id="signup-email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          <button type="button" class="btn btn-secondary" id="show-login">Login</button>
        </div>
      </div>
      <div class="col-md-6" id="right-section">
        <div id="welcome-image-section" class="mx-3 my-3">
          <img src="images/welcome-image.png" alt="Welcome" class="img-fluid">
        </div>
      </div>
    </div>
  </div>







<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>

