<div class="container mt-5">
    {{> post-info }}
    <div class="container">
        <h2>Comments</h2>

        <ul class="list-group">
            {{#each comments as |comment|}}
                {{> comment}}
            {{/each}}
        </ul>
    </div>

    <button class="btn btn-primary my-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#add-comment-form" aria-expanded="false"
        aria-controls="add-comment-form">
        Add Comment
    </button>
    <div class="collapse" id="add-comment-form">
        <form id="add-comment-form">
            <input type="hidden" name="post_id" value="{{post.id}} ">
            <div class="mb-3">
                <label for="comment-body" class="form-label">Comment</label>
                <textarea class="form-control" name="comment_body"
                    id="comment-body" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>



<script src="/js/add-comment.js"></script>