{{> post }}

<h3>Comments</h3>
{{#each comments}}
    {{> comment }}
{{/each}}

<form>
    <label for="comment">Add a Comment</label>
    <textarea id="comment" name="comment" required></textarea>

    <button type="submit">Submit Comment</button>
</form>