.login-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
  

#login-section, #signup-section {
    width: 90%;
}
  

#login-email,
#login-password,
#signup-name,
#signup-email,
#signup-password {
    width: 100%;
}